h1 {
    text-align: center;
  }
  #buttonbox {

    display: flex;
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;
    flex-direction: row wrap;
  }
  #modebox {
    display: flex;
    width: 100%;
    height: 100px;
    align-content: center;
    justify-content: center;
    flex-direction: row wrap;
  }
  button,
  input {
    height: 40px;
    width: 200px;
    margin: 10px;
  }
  #pad {
    margin: 0px auto;
    height: 640px;
    width: 640px;
    border: 15px solid red;
    align-self: center;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 20px;
    box-shadow: 10px 10px 15px -10px;
  }
  
  .whitebox {
    background-color: white;
    /*width: 40px;
    height: 40px;*/
    padding: 0px;
  }
  .blackbox {
    background-color: black;
    /*width: 40px;
    height: 40px;*/
    padding: 0px;
  }